@import "variables", "mixins", "panels", "glitch", "loader";

body {
    background-color: $background-color;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .2rem;
    margin: 0;
    overflow: hidden;
    perspective: 1000px;
    text-transform: uppercase;
}


h1 {
    @include text($h1...);
}
